{{- if index .Values "dremio-helm" "opensearch" "enabled" -}}
---
{{- /*
This job is necessary to delete the opensearch-keystore-secret before a new sync happens,
because the secret is stupidly created using helm pre hook with weight -4, and using the following logic:
  echo "Creating Secret"
  kubectl create secret generic opensearch-keystore-secret -n {{ .Release.Namespace }} --from-file=/tmp/keystore/opensearch.keystore
  echo "Secret created successfully"
this is NOT idempotent, and will make subsequent syncs fail (since the secret already exists).
*/ -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: opensearch-keystore-delete
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded,hook-failed
    # -5 weight will run this job before the opensearch-keystore-secret is created which has weight -4.
    #Lower numerical weights run first
    "helm.sh/hook-weight": "-5"
spec:
  backoffLimit: 1
  template:
    spec:
      restartPolicy: Never
      # Service account name hard coded in dremio-helm chart.
      serviceAccountName: dremio-opensearch-aux
      containers:
        - name: delete-secret
          image: {{ index .Values "dremio-helm" "utils" "image" "repository" }}:{{ index .Values "dremio-helm" "utils" "image" "tag" }}
          command: ["/bin/sh", "-ceu"]
          args:
            - |
              echo "Checking for existing opensearch-keystore-secret..."
              if kubectl get secret opensearch-keystore-secret >/dev/null 2>&1; then
                echo "Deleting existing opensearch-keystore-secret..."
                kubectl delete secret opensearch-keystore-secret
              else
                echo "Secret does not exist; nothing to delete."
              fi
              echo "Cleanup done."
{{- end }}