apiVersion: platform.confluent.io/v1beta1
kind: Connector
metadata:
  name: fluent-bit-dremio-sink
spec:
  class: "io.tabular.iceberg.connect.IcebergSinkConnector"
  name: "iceberg-sink-connector"
  taskMax: 2
  connectClusterRef:
    name: connect
  configs:
    topics: "fluent-bit"
    iceberg.tables.dynamic-enabled: "true"
    iceberg.tables.route-field: "table"
    iceberg.tables.auto-create-enabled: "true"
    iceberg.catalog.io-impl: "org.apache.iceberg.aws.s3.S3FileIO"
    iceberg.catalog.uri: "http://dremio-catalog-server.dremio.svc.cluster.local:9181/api/catalog"
    iceberg.catalog.ref: "main"
    iceberg.catalog.type: "rest"
    iceberg.catalog.credential: "dremio:dremio123"
    iceberg.catalog.warehouse: "warehouse"
    iceberg.control.commitIntervalMs: "60000"
    value.converter.schemas.enable: "false"
    value.converter: "org.apache.kafka.connect.json.JsonConverter"
    key.converter: "org.apache.kafka.connect.storage.StringConverter"