apiVersion: platform.confluent.io/v1beta1
kind: ConfluentRolebinding
metadata:
  name: fluent-bit-user-rbac
  namespace: {{ .Release.Namespace }}
spec:
  principal:
    name: fluent-bit-user
    type: user
  resourcePatterns:
  - name: "fluent-bit"
    patternType: LITERAL
    resourceType: Topic
  role: ResourceOwner
  kafkaRestClassRef:
    name: default
    namespace: {{ .Release.Namespace }}
---
apiVersion: platform.confluent.io/v1beta1
kind: ConfluentRolebinding
metadata:
  name: test-user-rbac
  namespace: {{ .Release.Namespace }}
spec:
  principal:
    name: test-user
    type: user
  resourcePatterns:
  - name: "test-"
    patternType: PREFIXED
    resourceType: Topic
  role: ResourceOwner
  kafkaRestClassRef:
    name: default
    namespace: {{ .Release.Namespace }}
---
apiVersion: platform.confluent.io/v1beta1
kind: ConfluentRolebinding
metadata:
  name: kafka-connect-rbac
  namespace: {{ .Release.Namespace }}
spec:
  principal:
    name: kafka
    type: user
  role: SystemAdmin
  clustersScopeByIds:
    connectClusterId: confluent.connect
---
apiVersion: platform.confluent.io/v1beta1
kind: ConfluentRolebinding
metadata:
  name: connect-systemadmin-rbac
  namespace: {{ .Release.Namespace }}
spec:
  principal:
    name: connect
    type: user
  role: SystemAdmin
  clustersScopeByIds:
    connectClusterId: confluent.connect
---
apiVersion: platform.confluent.io/v1beta1
kind: ConfluentRolebinding
metadata:
  name: connect-fluent-bit-topic-rbac
  namespace: {{ .Release.Namespace }}
spec:
  principal:
    name: connect
    type: user
  resourcePatterns:
  - name: "fluent-bit"
    patternType: LITERAL
    resourceType: Topic
  role: DeveloperRead
  kafkaRestClassRef:
    name: default
    namespace: {{ .Release.Namespace }}
---
apiVersion: platform.confluent.io/v1beta1
kind: ConfluentRolebinding
metadata:
  name: connect-consumer-group-rbac
  namespace: {{ .Release.Namespace }}
spec:
  principal:
    name: connect
    type: user
  resourcePatterns:
  - name: "connect-iceberg-sink-connector"
    patternType: LITERAL
    resourceType: Group
  role: DeveloperRead
  kafkaRestClassRef:
    name: default
    namespace: {{ .Release.Namespace }}